<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<h1>Categories</h1>

<%= link_to "New category", new_category_path %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
    <th>Products</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to "Show", category %></td>
      <td>
        <% category.products.each do |product| %>
          <%= link_to product.name, product %><br>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


